  html {
    font-family: "Verdana";
    color: #ffffff;
    background: #828282;
    background: radial-gradient(circle, black, lightgrey); /* Standard syntax */

}

  a:link {
    color: #ff8400;
}

  a:visited {
    color: #ff8400;
}

  a:hover {
    color: #ff9119;
}

  h1 {
    margin-bottom: 5px;
}

  h3 {
    margin-top: 5px;
}

  nav {
    float: right;
    padding: 10px;
    margin-right: 8%;
    text-align: left;
    border:1px solid #ffffff;
    padding:20px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: #ffffff;
    box-shadow: 5px 5px 5px 5px #333333;
    -moz-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
}

  img {
    max-width: 100%;
}

  .content {
    width: 100%;
}

  header{
    margin-left: 5%;
    margin-left: 3%;
}

  .conceptGroup {
    padding:10px 10% 30px 10%;
    margin:20px 8% 20px 8%;
    width: 65%;
    background: #ffffff;
    border:0px solid #ffffff;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    color: #000000;
    box-shadow: 5px 5px 5px 5px #333333;
    -moz-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
}

  footer {
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 720px) {
  html {
    max-width: 520px;
  }

  .featureimg {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 90%;
    height: auto;
    width: auto;
  }
  .feature {
    width: 80%;
    min-height: 290px;
    max-width: 480px;
    margin:10%;
    text-align: justify;
    overflow:auto;

}
  .columntext {
    min-height: auto;
  }

  .column1, .column2, .column3, .column4{
    margin-left: 20%;
    margin-right: 20%;
    float:center;
    text-align: center;
    width: 60%;
    background: #0098cc;
    border:0px solid #0098cc;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
  }

  nav {
    padding: 30px;
    text-align: left;
    float:left;
    border:1px solid #ffffff;
    border-radius:0.5%;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: #ffffff;
     }
  header {
    margin-left:10%;
    margin-right:10%;
    float.left;
  }
}