  html {
    font-family: "Verdana";
    color: #ffffff;
    background: #0082b2;
}

  a:link {
    color: #ff8400;
}

  a:visited {
    color: #ff8400;
}

  a:hover {
    color: #ff9119;
}

  h1 {
    margin-bottom: 5px;
}

  h3 {
    font-size: 90%;
    margin-top: 5px;
}

  nav {
    float: right;
    padding: 10px;
    margin-right: 8%;
    text-align: left;
    border:1px solid #ffffff;
    padding:20px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: #ffffff;
    box-shadow: 5px 5px 5px 5px #333333;
    -moz-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
}
.contactcontainer{
  padding-left: 10px;
  padding-right: 10px;}

.contactimg {
  display: block;
  margin:10px auto;
  }

  img {
    max-width: 100%;
}

  .featureimg {
    float:right;
    margin-right: 5%;
    margin-left: 5%;
    max-width: 45%;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 5px 5px #333333;
    -moz-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
}

  .articleimg {
    float:right;
    width:40%;
    margin:10px;
    box-shadow: 5px 5px 5px 5px #333333;
    -moz-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
  }

  .feature {
    width: 40%;
    min-height: 290px;
    height: auto;
    margin:5%;
    overflow:auto;
}

  .content {
    width: 100%;
}

  header{
    margin-left: 5%;
    margin-left: 3%;
}

  .column1, .column2, .column3, .column4 {
    float:left;
    text-align: left;
    margin: 1.5%;
    padding: 1%;
    padding-bottom: 10px;
    width: 20%;
    background: #0098cc;
    border:0px solid #0098cc;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow: 5px 5px 5px 5px #333333;
    -moz-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
}

  .blog {
    text-align: left;
    padding:10px 10% 10px 10%;
    margin:0px 8% 20px 8%;
    width: 65%;
    background: #ffffff;
    border:0px solid #0098cc;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    color: #000000;
    box-shadow: 5px 5px 5px 5px #333333;
    -moz-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
}

  .blogpost {
    padding:10px 10% 10px 10%;
    margin:0px 8% 20px 8%;
    width: 65%;
    background: #ffffff;
    border:0px solid #ffffff;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    color: #000000;
    box-shadow: 5px 5px 5px 5px #333333;
    -moz-box-shadow: 5px 5px 5px 5px #333333;
    -webkit-box-shadow: 5px 5px 5px 5px #333333;
}

  footer {
    text-align: center;
    margin: 0 auto;
}

  .columntext {
    min-height: 150px;
  }

@media only screen and (max-width: 720px) {
  html {
    max-width: 520px;
  }

  .contactcontainer {
  max-width: 300px;
}

  .featureimg {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 90%;
    height: auto;
    width: auto;
  }
  .feature {
    width: 80%;
    min-height: 290px;
    max-width: 480px;
    margin:10%;
    text-align: justify;
    overflow:auto;

}
  .columntext {
    min-height: auto;
  }

  .column1, .column2, .column3, .column4{
    margin-left: 20%;
    margin-right: 20%;
    float:center;
    text-align: center;
    width: 60%;
    background: #0098cc;
    border:0px solid #0098cc;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
  }

  nav {
    padding: 30px;
    text-align: left;
    float:left;
    border:1px solid #ffffff;
    border-radius:0.5%;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background: #ffffff;
     }
  header {
    margin-left:10%;
    margin-right:10%;
    float.left;
  }
}